<app-header titulo="grid"></app-header>
<!-- si no se dice nada, las columnas se reparten a partes iguales el espacio -->
<ion-content>
  <!-- fixed ocupa todo el ancho de la pantalla en todo caso
    si está a true independientemente del ancho responsive de las últimas filas de este ejemplo -->
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
<!-- en este ejemplo la primera columna se quedará con la mitad del espacio (6)
  y el ressto se repartirá proporcionalmente -->
    <ion-row>
      <ion-col size="6">
        ion-col [size="6"]
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        ion-col [size="3"]
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col size="3">
        ion-col [size="3"]
      </ion-col>
    </ion-row>
<!-- con offset dejamos un espacio en blanco antes del tamaño indicado -->
    <ion-row>
      <ion-col size="3">
        ion-col [size="3"]
      </ion-col>
      <ion-col size="3" offset="3">
        ion-col [size="3"] [offset="3"]
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
        <br>#
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-start">
        ion-col [start]
      </ion-col>
      <ion-col class="ion-align-self-center">
        ion-col [center]
      </ion-col>
      <ion-col class="ion-align-self-end">
        ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
<!-- difiere de align-self en que se aplica a toda la fila -->
    <ion-row class="ion-align-items-start">
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col class="ion-align-self-end">
        [start] ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-end">
      <ion-col>
        [end] ion-col
      </ion-col>
      <ion-col class="ion-align-self-start">
        [end] ion-col [start]
      </ion-col>
      <ion-col>
        [end] ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
<!-- size-sm y size-md .. cambiarán su comportamiento según
  el ancho de la pantalla convirtiendose al ancho de columnas indicado -->
<!-- https://ionicframework.com/docs/layout/grid#grid-size
  para ir directamente a las dimensiones que se pueden controlar -->
    <ion-row>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3" size-sm="6">
        ion-col size="12" size-md="3" size-sm="6"
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        ion-col size="12" size-md="3" size-sm="6"
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        ion-col size="12" size-md="3" size-sm="6"
      </ion-col>
      <ion-col size="12" size-md="3"  size-sm="6">
        ion-col size="12" size-md="3" size-sm="6"
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg offset="3">
        ion-col [size="6"] [size-lg] [offset="3"]
      </ion-col>
      <ion-col size="3" size-lg>
        ion-col [size="3"] [size-lg]
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
