<ion-header>
  <ion-toolbar>
    <ion-title>Segment</ion-title>
    <ion-segment value="default">
      <ion-segment-button value="default">
        <ion-label>Default</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Segment</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [disabled]="true" value="disabled">
    <ion-segment-button value="disabled">
      <ion-label>Disabled</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-segment [scrollable]="true" value="heart">
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="barbell">
      <ion-icon name="barbell"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="trash">
      <ion-icon name="trash"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="person">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-segment value="pizza" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="pizza">
      <ion-label>Pizza</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasta">
      <ion-label>Pasta</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
