<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>

<!--
      El menú tambien se puede poner con:
      <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
 -->
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- usando la etiqueta routerLink con / y el nombre que aparece en el achivo app-routing.module.ts-->

 <ion-content>
 <!-- <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/action-sheet">Action-sheet</ion-button>
 -->


    <ion-button routerLink="/alert">Alert</ion-button>

    <ion-button routerLink="/action-sheet">Action-Sheet</ion-button>

    <ion-button routerLink="/button">Button</ion-button>

    <ion-button routerLink="/card">Card</ion-button>

    <ion-button routerLink="/avatar">Avatar</ion-button>

    <ion-button routerLink="/badge">Badge</ion-button>

    <ion-button routerLink="/chip">chip</ion-button>

    <ion-button routerLink="/list">list</ion-button>

    <ion-button routerLink="/item">item</ion-button>

    <ion-button routerLink="/grid">grid</ion-button>

    <ion-button routerLink="/alertas">alertas</ion-button>

    <ion-button routerLink="/acciones">acciones</ion-button>

</ion-content>
