<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>
<!-- usando la etiqueta routerLink con / y el nombre que aparece en el achivo app-routing.module.ts-->

 <ion-content>
 <!-- <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/action-sheet">Action-sheet</ion-button>
 -->


    <ion-button routerLink="/alert">Alert</ion-button>

    <ion-button routerLink="/action-sheet">Action-Sheet</ion-button>

    <ion-button routerLink="/button">Button</ion-button>

    <ion-button routerLink="/card">Card</ion-button>

    <ion-button routerLink="/avatar">Avatar</ion-button>

    <ion-button routerLink="/badge">Badge</ion-button>

    <ion-button routerLink="/chip">chip</ion-button>

    <ion-button routerLink="/list">list</ion-button>

    <ion-button routerLink="/item">item</ion-button>

    <ion-button routerLink="/grid">grid</ion-button>



</ion-content>
