<app-header titulo="action-sheet"></app-header>
<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>-->
<!-- TODO https://ionicframework.com/docs/api/action-sheet -->
<ion-content>
  <div class="container">
    <ion-button (click)="presentActionSheet()">Open</ion-button>
    <code *ngIf="result"> {{ result }} </code>
  </div>
</ion-content>
